<mat-toolbar>
  <nav>
    <span>Saucissoy</span>
    <a mat-button routerLink='home'>Accueil</a>
    <a mat-button routerLink='about'>Pourquoi le local ?</a>
    <a mat-button routerLink='infos/map'>Nous trouver</a>
    <a mat-button routerLink='infos/agenda'>Horaires</a>
    <a mat-button routerLink='infos/contact'>Nous contacter</a>
    <a mat-button routerLink='admin'>Administration</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <h3>Réalisé par Corentin Goyat</h3>
</footer>