mat-toolbar {
    
    background-color: transparent;
    color: rgb(255, 252, 240);
    text-shadow: 1px 1px 2px #222222;

    span {
        margin-right: 10px;
    }

    button {
        display: none;
    }
}