<mat-grid-list cols="2" rowHeight="2:1">

    <a routerLink="/about">
        <mat-grid-tile style="background: url('../../../assets/terroir1.jpg')">
            <span>Pourquoi le local ?</span>
        </mat-grid-tile>
    </a>

    <a routerLink="/infos/map">
        <mat-grid-tile style="background: url('../../../assets/terroir2.jpg')">
            <span>Nous trouver</span>
        </mat-grid-tile>
    </a>

    <a routerLink="/infos/agenda">
        <mat-grid-tile style="background: url('../../../assets/terroir3.jpg')">
            <span>Horaires</span>
        </mat-grid-tile>
    </a>

    <a routerLink="/infos/contact">
        <mat-grid-tile style="background: url('../../../assets/terroir4.jpg')">
            <span>Nous contacter</span>
        </mat-grid-tile>
    </a>

</mat-grid-list>