<h1>Nous contacter</h1>
<article>
    <p>Vous pouvez nous envoyer vos questions par e-mail : 
        <a href="mailto:contact.saucissoy@gmail.com?Subject=Demande%20de%20contact">
        contact.saucissoy@gmail.com</a>
    </p>
    <p>Ou par l'intermédiaire de ce formulaire à remplir :</p>
</article>

<form [formGroup]="form">
    <mat-form-field>
        <input matInput id="mailfield" placeholder="Votre adresse email" required>
    </mat-form-field>
    <br>
    <mat-form-field>
        <textarea matInput placeholder="Votre message" required></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
        <button type="submit" [disabled]="form.invalid">Envoyer</button>
    </mat-form-field>
</form>