<main>
    <h1>Qui sommes-nous ?</h1>
    <article>
        <p>Nous sommes un restaurant locavore qui fait du sourcing de saucisse en Indre-et-Loire, ainsi que de mets à base de charcuterie.</p>
        <p>Le local, ça régale tout le pays, sauf les multinationales !</p>
    </article>

    <h2>Nos produits</h2>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Saucisson des bois</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/saucissondesbois.jpg" alt="Saucisson des bois">
        <mat-card-content>
            <p>Miamox</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sauciflade de sanglier</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/saucissesanglier.jpg" alt="Sauciflasse de sanglier">
        <mat-card-content>
            <p>Miamox</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Saucisson à l'ancienne des alpages</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/saucissonrustique.jpg" alt="Saucisson à l'ancienne des alpages">
        <mat-card-content>
            <p>Miamox</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Saucissard de cheval de Lacaune</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/saucissoncheval.jpg" alt="Saucisson de cheval de Lacaune">
        <mat-card-content>
            <p>Miamox</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Crousti-ciboulettes</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/crousticiboulettes.jpg" alt="Crousti-ciboulettes">
        <mat-card-content>
            <p>Miamox</p>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Cyclo-pains viandés</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/cyclopainsviandes.jpg" alt="Cyclo-pains viandés">
        <mat-card-content>
            <p>Miamox</p>
        </mat-card-content>
    </mat-card>
</main>