mat-card
{
    width: 31%;
    margin: 0.25%;
    float: left;

    & img
    {
        height: 400px;
    }

    & mat-card-content
    {
        & p:last-child
        {
            float: right;
        }

        & b
        {
            color: rgb(180, 0, 0);
        }
    }
}