<h1>Qui sommes-nous ?</h1>

<article>
    <p>Nous sommes un restaurant locavore qui fait du sourcing de saucisse en Indre-et-Loire, ainsi que de mets à base de charcuterie.</p>
    <p>Le local, ça régale tout le pays, sauf les multinationales !</p>
</article>

<h2>Nos produits</h2>

<mat-card *ngFor="let produit of produits | async">
    <mat-card-header>
        <mat-card-title>{{produit.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/{{produit.img}}" alt="{{produit.name}}">
    <mat-card-content>
        <p>{{produit.desc}}</p>
        <p>Prix au kilogramme : <b>{{produit.prixht}}€ HT</b></p>
    </mat-card-content>
</mat-card>